
.icon-th-large:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-pencil-1:before { content: '\e802'; } /* '' */
.icon-bookmark:before { content: '\e803'; } /* '' */
.icon-archive:before { content: '\e804'; } /* '' */
.icon-headphones:before { content: '\e805'; } /* '' */
.icon-th-large-1:before { content: '\e806'; } /* '' */
.icon-photo:before { content: '\e807'; } /* '' */
.icon-th-list-1:before { content: '\e808'; } /* '' */
.icon-clock:before { content: '\e809'; } /* '' */
.icon-comment:before { content: '\e80a'; } /* '' */
.icon-headphones-1:before { content: '\e80b'; } /* '' */
.icon-down:before { content: '\e80c'; } /* '' */
.icon-left:before { content: '\e80d'; } /* '' */
.icon-right:before { content: '\e80e'; } /* '' */
.icon-up:before { content: '\e80f'; } /* '' */
.icon-miz-typo:before { content: '\e810'; } /* '' */
.icon-miz-logo:before { content: '\e811'; } /* '' */
.icon-list-view-03:before { content: '\e812'; } /* '' */
.icon-dot-3:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e814'; } /* '' */
.icon-adjust:before { content: '\e815'; } /* '' */
.icon-list-view-01:before { content: '\e816'; } /* '' */
.icon-search:before { content: '\e817'; } /* '' */
.icon-share-1:before { content: '\e818'; } /* '' */
.icon-plus:before { content: '\e81b'; } /* '' */
.icon-chat:before { content: '\e81c'; } /* '' */
.icon-list-view-02:before { content: '\e81d'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */