@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?10561120");
  src: url("../font/fontello.eot?10561120#iefix") format("embedded-opentype"),
    url("../font/fontello.woff2?10561120") format("woff2"),
    url("../font/fontello.woff?10561120") format("woff"),
    url("../font/fontello.ttf?10561120") format("truetype"),
    url("../font/fontello.svg?10561120#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?10561120#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-th-large:before {
  content: "\e800";
} /* '' */
.icon-trash:before {
  content: "\e801";
} /* '' */
.icon-pencil-1:before {
  content: "\e802";
} /* '' */
.icon-bookmark:before {
  content: "\e803";
} /* '' */
.icon-archive:before {
  content: "\e804";
} /* '' */
.icon-headphones:before {
  content: "\e805";
} /* '' */
.icon-th-large-1:before {
  content: "\e806";
} /* '' */
.icon-photo:before {
  content: "\e807";
} /* '' */
.icon-th-list-1:before {
  content: "\e808";
} /* '' */
.icon-clock:before {
  content: "\e809";
} /* '' */
.icon-comment:before {
  content: "\e80a";
} /* '' */
.icon-headphones-1:before {
  content: "\e80b";
} /* '' */
.icon-down:before {
  content: "\e80c";
} /* '' */
.icon-left:before {
  content: "\e80d";
} /* '' */
.icon-right:before {
  content: "\e80e";
} /* '' */
.icon-up:before {
  content: "\e80f";
} /* '' */
.icon-miz-typo:before {
  content: "\e810";
} /* '' */
.icon-miz-logo:before {
  content: "\e811";
} /* '' */
.icon-list-view-03:before {
  content: "\e812";
} /* '' */
.icon-dot-3:before {
  content: "\e813";
} /* '' */
.icon-user:before {
  content: "\e814";
} /* '' */
.icon-adjust:before {
  content: "\e815";
} /* '' */
.icon-list-view-01:before {
  content: "\e816";
} /* '' */
.icon-search:before {
  content: "\e817";
} /* '' */
.icon-share-1:before {
  content: "\e818";
} /* '' */
.icon-plus:before {
  content: "\e81b";
} /* '' */
.icon-chat:before {
  content: "\e81c";
} /* '' */
.icon-list-view-02:before {
  content: "\e81d";
} /* '' */
.icon-info-circled-alt:before {
  content: "\f086";
} /* '' */
.icon-twitter:before {
  content: "\f099";
} /* '' */
.icon-menu:before {
  content: "\f0c9";
} /* '' */
.icon-ellipsis-vert:before {
  content: "\f142";
} /* '' */
.icon-instagram:before {
  content: "\f16d";
} /* '' */
.icon-share:before {
  content: "\f1e0";
} /* '' */
.icon-facebook-squared:before {
  content: "\f308";
} /* '' */
